*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: $fw-default;
  background-color: $Magnolia;

  max-width: 144rem;
  height: 100vh;
  margin: 0 auto;

  display: grid;
  align-content: center;
  justify-content: center;
}

.container {
  max-width: 110rem;
  background-color: $White;
  border-radius: $br-default;
  padding: $s-16;
}
